@model IEnumerable<ProjetoMVC.Models.Emprestimo>
@{
    ViewData["Title"] = "Novo";
}
<h2> Cadastro de Emprestimos</h2>

<div class="container">

    <div class="page-header">
        <h1>Cadastro de Livros</h1>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h3>Informe os dados</h3>
            <form method="post">

                <div class="form-grup">
                    <label for="DtEmprestimo">Data de Emprestimo: </label>
                    <input type="date" class="form-control" id="DtEmprestimo" name="DtEmprestimo">
                </div>

                <div class="form-grup">
                    <label for="valorTotal">Valor Total: </label>
                    <input type="number" class="form-control" id="valorTotal" name="valorTotal">
                </div>

                <button type="submit" class="btn btn-default">
                    Salvar
                </button>

            </form>
        </div>
    </div>
</div>